body{
    background-image: url("assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.logo{
    width: 200px;
    margin: 40px auto;
}
.english, .arabic {
    max-height: 100px;
    height: 8vw;
    margin: auto;
    padding: 0;
}

.wrapper{
    vertical-align: middle;
    color: white;
    height: 100vh;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.links {
    flex: 2;
    margin: 30px auto;
    width: 60%;
    min-width: 450px;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items:  flex-start;
}
