* {
  margin: 0;
  padding: 0; }

body {
  background-color: black;
  background-image: url("assets/background.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  font-size: 16px; }

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit; }

.logo {
  width: 200px;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0; }

.wrapper {
  box-sizing: border-box;
  padding-top: 150px;
  color: white;
  font-size: 1.3rem;
  height: 100%;
  font-family: 'Poiret One', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.arabic {
  font-family: 'Droid Arabic Kufi', serif; }

.links {
  margin: 30px auto 0 auto;
  width: 60%;
  min-width: 350px;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.links img {
  height: 50px; }
